<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_hospital_root" name="Hospital" sequence="1"
    />
    <menuitem id="menu_patient_root" name="Patient" sequence="10"
              parent="menu_hospital_root"/>
    <menuitem id="patient_patient_root" name="Patient" sequence="1"
              parent="menu_patient_root" action="action_patient"/>

      <menuitem id="menu_kids" name="Kids" sequence="10"
               parent="menu_patient_root" action="action_kids"/>

    <menuitem id="appointment_tab" name="Appointments" sequence="2"
              parent="menu_hospital_root"/>
    <menuitem id="male_tab" name="Male" sequence="15"
              parent="menu_patient_root" action="male_action"/>
    <menuitem id="female_tab" name="Female" sequence="14"
              parent="menu_patient_root" action="female_action"/>

    <menuitem id="appointment_tab_2" name="appointments" sequence="2"
              parent="appointment_tab" action="appointments_action"/>
    <menuitem id="create_appointment_menu" name="Create Appointment " sequence="10"
              parent="appointment_tab" action="create_appointment_action"/>
    <menuitem id="menu_search_patient" name="Search Appointment" sequence="24"
              parent="appointment_tab" action="search_appointment_action"/>
</odoo>